repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/semgrep/semgrep
    rev: v1.55.0
    hooks:
      - id: semgrep
        args: ['--config', 'auto', '--error']
